.mybody {
  background: #384047;
  font-family: sans-serif;
  font-size: 10px;
}

.myform {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 500px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

@media (min-width: 768px){
.myform{
  max-width: 100%;
}

}
.myform h2 {
  margin: 0 0 20px 0;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  color: #1B6A30;
  border-bottom: solid 2px #1B6A30;
}
.myform p {
  margin: 0 0 2em 0;
  position: relative;
}
.myform input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
.myform input[type="text"],
.myform input[type="password"],
 .myform input[type="number"]
 {
  background: #fff;
  border: 1px solid #9BC8A7;
  font-size: 1.4em;
  padding: .8em .5em;
  border-radius: 2px;
  color: #033B11;
}
.textarea
{
 background: #fff;
 width: 100%;
 border: 1px solid #9BC8A7;
 font-size: 1.4em;
 padding: .8em .5em;
 border-radius: 2px;
}
.myform input[type="text"]:focus,
.myform input[type="password"]:focus,
.myform input[type="number"]:focus {
  background: #fff;
}
.myform span {
  display: block;
  background: #F9A5A5;
  padding: 2px 5px;
  color: #666;
}
.myform input[type="submit"],
.mybtn {
  background: #1B6A30;

  border-radius: 1px;
  width: 30%;
  color: #fff ;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .3em 0;
  text-shadow: 0 1px #1BA440;
  margin-left: 70%;
}
.myform input[type="submit"]:hover,
.mybtn {
  background: #275834;
  text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}
.myform label {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #1B6A30;
  font-size: 14px;
  display: inline-block;
  padding: 4px 4px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}
.myform label.floatLabel {
  top: -14px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
