<%- model_class = HostelRegistration -%>
<div class="container-fluid">
  <div class="page-header">
    <h3> <strong> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> </strong></h3>
  </div>
  <div class="search pull-right">
    <%= form_tag(hostel_registrations_path, method: "get") do %>
      <%= hidden_field_tag :search,  "search"%>
      <%= text_field_tag :pending_hostel, params[:pending_hostel], placeholder: "Search Pending Hostels....." %>
      <%= submit_tag "Search" %>
      <!-- <%= button_tag(type: "submit", class: "glyphicon glyphicon-search") do %>
      <% end %> -->
    <% end %>
  </div>
  <table class="table">
  <thead align="center">
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:hostel_name) %></th>
      <th><%= model_class.human_attribute_name(:owner_name) %></th>
      <th><%= model_class.human_attribute_name(:owner_nric) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <th>Approve/Decline</th>
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @hostel_registrations.each_with_index do |hostel_registration,i| %>
      <tr class="table-secondary">
        <td><%= i+1 %></td>
        <td><%= link_to hostel_registration.hostel_name, hostel_registration_path(hostel_registration) %></td>
        <td><%= hostel_registration.owner_name %></td>
        <td><%= hostel_registration.owner_nric %></td>
        <td><%= hostel_registration.location %></td>
          <%- if hostel_registration.status == 1 -%>
            <td><span style="color:#349C10"><i class="glyphicon glyphicon-ok"></i></span></td>
          <%- elsif hostel_registration.status == 0  -%>
            <td><span style="color:#898E88"><i class="glyphicon glyphicon-remove"></i></span></td>
          <%- else -%>
          <td> </td>
          <%- end -%>
        <!-- <td><%=l hostel_registration.created_at %></td> -->
        <td align="left">
          <% unless hostel_registration.status == 1 %>
            <%= link_to "Approve",
                        hostel_registrations_path(:id => hostel_registration.id , :temp => "approve"),
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-primary btn-xs' %>
            <%= link_to "Decline",
                       hostel_registrations_path(:id => hostel_registration.id , :temp => "decline"),
                       :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                       :class => 'btn btn-danger btn-xs'%>
          <%- end -%>
        </td>
        <!-- <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        hostel_registration_path(hostel_registration), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_hostel_registration_path(hostel_registration), :class => 'btn btn-default btn-xs' %>

              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          hostel_registration_path(hostel_registration),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hostel_registration_path,
            :class => 'btn btn-primary' %>
</div>
