<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
</head>
<body class="mybody">
  <%= form_tag(register_check_details_path, method: "post" , local:true, class: "myform" ) do |f|%>

    <div class="col-xl-4 col-lg-6 col-lg-offset-3 col-xl-offset-4">
      <h2><strong> Check Hostel Registration</strong></h2>
    </div>
    <% if @error== "true"%>
      <div class=" col-xl-4 col-lg-4 col-md-10 col-sm-10 col-lg-offset-4 col-xl-offset-4 col-md-offset-1 col-sm-offset-1 error ">
        <p >
            <h5>Your registration number is not correct<br>
                Please reenter your registration number or <br>
                <%= link_to "Register your hostel" ,register_form_path   %>  
            </h5>
        </p>
      </div>
    <%- end -%>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :Please_Enter_Your_Registration_Number , nil, :class => 'floatLabel'%>
        <%= number_field_tag  :check_registration_number %>
      </p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <%= submit_tag("Next",:class=>"mybtn",:style=>"font-size:14px;") %>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <%- end -%>
</body>
</html>
