<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
  </meta>
</head>
<body class="mybody">
  <div class="myform">
    <div class="col-xl-4 col-lg-6 col-lg-offset-3 col-xl-offset-4" >
      <h2><strong> Check Hostel Registration</strong></h2>
    </div>
    <% @hostels.each do |hostel| %>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
    		<p>
          <%= label_tag :hostel_name, nil, :class => 'floatLabel'%>
          <%= text_field_tag  :hostel_name , hostel.data["hostel_name"], :readonly => true %>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
    		<p>
          <%= label_tag :Owner_contact_number, nil, :class => 'floatLabel'%>
          <%= text_field_tag  :contact_number, hostel.data["contact_number"], :readonly => true %>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
    		<p>
          <%= label_tag :address, nil, :class => 'floatLabel'%>
          <%= text_area_tag  :address, hostel.data["address"], :readonly => true,:class => "textarea" %>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
        <p>
          <%= label_tag :owner_name, nil, :class => 'floatLabel'%>
          <%= text_field_tag  :owner_name , hostel.data["owner_name"], :readonly => true%>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
        <p>
          <%= label_tag :township, nil, :class => 'floatLabel'%>
          <%= text_field_tag  :township , hostel.data["township"], :readonly => true%>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
        <p>
          <%= label_tag :owner_nric, nil, :class => 'floatLabel'%>
          <%= text_field_tag  :owner_nric , hostel.data["owner_nric"], :readonly => true%>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
        <p>
          <%= label_tag :number_of_rooms, nil, :class => 'floatLabel'%>
          <%= number_field_tag  :number_of_rooms, hostel.data["number_of_rooms"], :readonly => true , :class => 'number'%>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
        <p>
          <%= label_tag :total_pax, nil, :class => 'floatLabel'%>
          <%= number_field_tag  :total_pax, hostel.data["total_pax"], :readonly => true, :class => 'number'%>
    		</p>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
        <p>
          <%= button_tag "Download pdf", :class=>"mybtn",:style=>"font-size:14px;" %>
        </p>
      </div>
    <% end %>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </div>
</body>
</html>
