<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
</head>
<body class="mybody">
  <%= form_tag(register_confirmation_path, method: "post" , local:true, class: "myform" ) do |f|%>
    <div class="col-xl-4 col-lg-6 col-lg-offset-3 col-xl-offset-4" >
        <h2 ><strong>Check OTP Number</strong></h2>
    </div>

    <% if $temp == "false" %>
        <div class=" col-xl-4 col-lg-4 col-md-10 col-sm-10 col-lg-offset-4 col-xl-offset-4 col-md-offset-1 col-sm-offset-1 error ">
          <p >
              <h5>Your otp number is not correct<br>
                  Please reenter your otp number <br>
              </h5>
          </p>
        </div>
    <% end %>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :confirm_otp_number, nil, :class => 'floatLabel'%>
        <%=text_field_tag :confirm %>
      </p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
  		<p>
        <%= label_tag :hostel_name, nil, :class => 'floatLabel'%>
        <%= text_field_tag  :hostel_name , $hostel_name, :readonly => true %>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
  		<p>
        <%= label_tag :address, nil, :class => 'floatLabel'%>
        <%= text_area_tag  :address, $address, :readonly => true,:class => "textarea" %>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :owner_name, nil, :class => 'floatLabel'%>
        <%= text_field_tag  :owner_name , $owner_name, :readonly => true%>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
  		<p>
        <%= label_tag :Owner_contact_number, nil, :class => 'floatLabel'%>
        <%= text_field_tag  :contact_number, $contact_number, :readonly => true %>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :owner_nric, nil, :class => 'floatLabel'%>
        <%= text_field_tag  :owner_nric , $owner_nric, :readonly => true%>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :township, nil, :class => 'floatLabel'%>
        <%= text_field_tag  :township , $township, :readonly => true%>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :number_of_rooms, nil, :class => 'floatLabel'%>
        <%= number_field_tag  :number_of_rooms, $number_of_rooms, :readonly => true , :class => 'number'%>
  		</p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= label_tag :total_pax, nil, :class => 'floatLabel'%>
        <%= number_field_tag  :total_pax, $total_pax, :readonly => true, :class => 'number'%>
  		</p>
    </div>

    <%= hidden_field_tag :condition, "receipt" %>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p>
        <%= submit_tag("Next",:class=>"btn btn-primary") %>
     </p>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <%- end -%>
</body>

</html>
