<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
</head>
  <body class="mybody">
    <%= form_tag(register_confirmation_path, method: "post" , local:true, class: "myform" ) do |f|%>
        <div class="col-xl-4 col-lg-6 col-lg-offset-3 col-xl-offset-4" >
          <h2 ><strong> Fill Hostel Information</strong></h2>
        </div>

      	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
          <p>
            <%= label_tag :hostel_name, nil, :class => 'floatLabel'%>
            <%= text_field_tag  :hostel_name%>
          </p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
      		<p>
            <%= label_tag :address, nil, :class => 'floatLabel'%>
            <%= text_area_tag  :address,"",:class => "textarea" %>
      		</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <p>
            <%= label_tag :owner_name, nil, :class => 'floatLabel'%>
            <%= text_field_tag  :owner_name %>
      		</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 ">
      		<p>
            <%= label_tag :Owner_contact_number, nil, :class => 'floatLabel'%>
            <%= text_field_tag  :contact_number %>
      		</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <p>
            <%= label_tag :owner_nric, nil, :class => 'floatLabel'%>
            <%= text_field_tag  :owner_nric %>
      		</p>
        </div>

      	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <p>
            <%= label_tag :township, nil, :class => 'floatLabel'%>
            <%= text_field_tag  :township %>
      		</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <p>
            <%= label_tag :number_of_rooms, nil, :class => 'floatLabel'%>
            <%= number_field_tag  :number_of_rooms,"", :class => 'number' %>
      		</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <p>
            <%= label_tag :total_pax, nil, :class => 'floatLabel'%>
            <%= number_field_tag  :total_pax,"", :class => 'number' %>
      		</p>
        </div>

        <%= hidden_field_tag :condition, "confirm"%>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
          <p>
            <%= submit_tag("Register") %>
          </p>
        </div>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <%- end -%>
  </body>

</html>
