<div class="container">
      <div class="form-group myindex">
        <div class="field col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <%=image_tag("mylogo.png", alt: "LOGO  ", class: "myimage")%>
          </div>
         <div class="col-lg-9 col-md-9 col-sm-9">
          <h2 align="center"><strong>Hostel Self Registration System</strong></h2>
        </div>
        </div>
      </div>

      <div class="form-group col-lg-6 col-lg-offset-3 mybuttons" align="center">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-lg-offset-2 col-xl-offset-2">
          <%= link_to t('.cancel', :default => t("helpers.links.register")),
                    register_form_path, :class => 'btn btn-primary' %>
        </div>
        <div class="col-xl-4 col-lg-4  col-md-4 col-sm-6 ">
          <%= link_to t('.cancel', :default => t("helpers.links.Check")),
                              register_check_path, :class => 'btn btn-primary' %>
        </div>
      </div>
      <div class="field col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
        <p align="center" style="margin-top: 20px;">
           Please enter register button for new registration <br>
           Select check button for chek older registeration<br>
           If you need any help, please enter  <a href=""> help me</a>
         </p>
      </div>
</div>
