<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
</head>
<body class="mybody">
  <div class="myform">
    <div class="col-xl-4 col-lg-6 col-lg-offset-3 col-xl-offset-4">
      <h2><strong> Hostel Registration</strong></h2>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <p >
        <strong>
          <h5>
            Your Registration is Successful!!! <br>
            Please note  Your registrationn number!!<br>
            Your registration numbe is 12456.
          </h5>
        </strong>
      </p>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xl-offset-4 ">
      <%= button_tag "Download pdf", :class=>"mybtn",:style=>"font-size:14px;" %>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </div>
</body>
</html>
