<%= form_for @hostel, :html => { :class => "form-horizontal hostel" } do |f| %>

  <% if @hostel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@hostel.errors.count, "error") %> prohibited this hostel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @hostel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :mobile_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mobile_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mobile_no) %>
  </div>
  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>
  <div class="form-group">
    <%= f.label :otp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :otp, :class => 'form-control' %>
    </div>
    <%=f.error_span(:otp) %>
  </div>
  <div class="form-group">
    <%= f.label :otp_created_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :otp_created_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:otp_created_at) %>
  </div>
  <div class="form-group">
    <%= f.label :otp_expired_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :otp_expired_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:otp_expired_at) %>
  </div>
  <div class="form-group">
    <%= f.label :reg_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :reg_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:reg_number) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hostels_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
