<%- model_class = Hostel -%>
<div class="container-fluid">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:mobile_no) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:otp) %></th>
      <th><%= model_class.human_attribute_name(:otp_created_at) %></th>
      <th><%= model_class.human_attribute_name(:otp_expired_at) %></th>
      <th><%= model_class.human_attribute_name(:reg_number) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hostels.each do |hostel| %>
      <tr>
        <td><%= link_to hostel.id, hostel_path(hostel) %></td>
        <td><%= hostel.mobile_no %></td>
        <td><%= hostel.data %></td>
        <td><%= hostel.otp %></td>
        <td><%= hostel.otp_created_at %></td>
        <td><%= hostel.otp_expired_at %></td>
        <td><%= hostel.reg_number %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      hostel_path(hostel), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hostel_path(hostel), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hostel_path(hostel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
