<%- model_class = Hostel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mobile_no) %>:</strong></dt>
  <dd><%= @hostel.mobile_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @hostel.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:otp) %>:</strong></dt>
  <dd><%= @hostel.otp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:otp_created_at) %>:</strong></dt>
  <dd><%= @hostel.otp_created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:otp_expired_at) %>:</strong></dt>
  <dd><%= @hostel.otp_expired_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reg_number) %>:</strong></dt>
  <dd><%= @hostel.reg_number %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              hostels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hostel_path(@hostel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hostel_path(@hostel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
